<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_E4kpFqlbJa-YsSp1H-DWlZ1LQmo5ym4</string>
	<key>GCM_SENDER_ID</key>
	<string>623365552780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biba-stage</string>
	<key>PROJECT_ID</key>
	<string>biba-digital-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>biba-digital-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623365552780:ios:d60328c964ac4b81ea99a9</string>
</dict>
</plist>